#smartphones-img{
  margin-top: 2.5rem;
  background: url("../assets/illustration.svg") top/cover;
}

section{
  header{
    strong{
      display: block;
      color: var(--brand-color-primary);

      font: var(--fw-md) var(--fs-sm)/100% var(--ff-sans);
      letter-spacing: .08em;
      text-transform: uppercase;
    }
    
    h2{
      margin-block: .5rem;
    }
  }

  p{
    color: var(--text-color-secondary);
  }
}

@media screen and (width >= 80em) {
  #smartphones-img{
    display: none;
  }
}